@using INCHEQS.Resources
@using INCHEQS.Common
@{

}
<!DOCTYPE html>
<html>
<head>
	<style>
		#BoxChequeAmountEntrydiv {
			position: absolute;
			z-index: 9;
			background-color: #f1f1f1;
			border: 1px solid #d3d3d3;
			text-align: center;
		}

		#BoxChequeAmountEntryheader {		
			padding: 10px;
			cursor: move;
			z-index: 10;
			background-color: #2196F3;
			color: #fff;
			text-align: center;
			line-height: 150%;
			font-size: 18px;
		}

		#BoxTransparentdiv {
			border: 1px;
			text-align: right;
			padding: 0px;
			background-color: transparent !important;
			outline-style: solid;
			height: 1000%;
			min-height: 1000%;
		}

		#TextBoxdiv {
			background-color: yellow;
			border: 1px;

		}
		#ContainerDiv {
			background-color: yellow;
			border: 1px;
			height: 1000%;
			min-height: 1000%;
		}
		#ContainerEmptyDiv {
			min-height: 1px;
		}

	</style>
</head>
<body>
	<table class="table form-table table-no-border th-silvered" style="margin-top: 40px">
		@*<tr>
			<th>Stale Date</th>
			<td><span class="red big-text stale-date"></span></td>
		</tr>*@
		<tr>
			<th>@Locale.ChequeClearingDate</th>
			<td><span class="red big-text clear-date">@DateUtils.formatDateFromSql(ViewBag.OutwardItemViewModel.getField("fldCapturingDate"))</span></td>
		</tr>
		<tr>
			<th>@Locale.Amount</th>
			<td><span class="red big-text">@StringUtils.FormatCurrency(ViewBag.OutwardItemViewModel.getField("fldAmount"))</span></td>
		</tr>

	</table>

	<script src="@Url.Content("~/Scripts/OCS/ChequeAmountEntry.js")" type="text/javascript"></script>

	<!--Draggable DIV:-->
	<div id="BoxTransparentdiv" class="BoxChequeAmountEntry">
		<!--Include a header DIV with the same name as the draggable DIV, followed by "header":-->

		<div id="BoxChequeAmountEntryheader" class="titlebar">
			<span class="title">Amount Entry</span>
		</div>
		<div hidden>

		</div>
		<div class="BoxChequeAmountEntry">
			<div>
				&nbsp;
			</div>
			<div>
				&nbsp;
			</div>
			<div class="container">
				&nbsp;
			</div>
		</div>
		<div>
			<input id="TextBoxdiv" class="form-control"
				   name="StudentName"
				   type="text"
				   value="" />
		</div>
		@*<input id="TextBoxdiv" class="form-control"
		name="StudentName"
		type="text"
		value="" />*@


		@*<div >
			<input id="TextBoxdiv" class="form-control"
				   id="StudentName"
				   name="StudentName"
				   type="text"
				   value="" />
		</div>*@
	</div>
	@*<body>
			<div id="public" class="chatwindow">
				<div class="container">
					<div class="titlebar">
						<span class="title">PUBLIC CHAT</span>
					</div>
					<div class="toggle">
						<div class="chat"></div>
						<div class="input">
							<textarea class="inputarea"></textarea>
						</div>
					</div>
				</div>
			</div>
		</body>*@
</body>
</html>
