@using INCHEQS.Resources
@using INCHEQS.Common
@{
    ViewBag.Title = "CenterClearedItemHistory";
    var i = 0;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_CenterClearedItemHistory</title>
</head>
<body>
    <div style="overflow-y: scroll; height:500px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>UIC</th>
                    <th>Check Digit</th>
                    <th>Cheque Number</th>
                    <th>Bank Code</th>
                    <th>Location</th>
                    <th>Issuer Account Number</th>
                    <th>Amount</th>
                    <th>Payee Account Number</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var row in ViewBag.CenterSubmittedItems.Rows)
                {
                <tr>
                    <td>@{i++;} @i</td>
                    <td>@row["fldUIC"]</td>
                    <td>@row["fldCheckDigit"]</td>
                    <td>@row["fldSerial"]</td>
                    <td>@row["fldBankCode"]</td>
                    <td>@row["fldStateCode"]</td>
                    <td>@row["fldIssuerAccNo"]</td>
                    <td>@StringUtils.FormatCurrency((row["fldAmount"] / 100).ToString())</td>
                    <td>@row["fldPVaccNo"]</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
