@using INCHEQS.Resources
<style>
    .micrheader {
        color: #3817E0;
        font-size:12px;
    }
</style>

<table class="">
    <thead>
        <tr>
            @*<th class="micrheader">Chq Digit</th>*@
            <th class="micrheader">Chq No</th>
            <th class="micrheader">Pay Br</th>
            <th class="micrheader">Acc No</th>
            <th class="micrheader">TC</th>
            <th class="micrheader">Host Barcode</th>
            <th class="micrheader">Amount</th>
            <th class="micrheader">Mapped-Account</th>
        </tr>

    </thead>
    <tr>
    <tbody>
        @foreach (var row in ViewBag.Micr.Rows)
        {
            foreach (var field in row["fldMicrValue"].Split('|'))
            {
                <!--if (field == "fldCheckDigit")
                {-->
                    @*class= "micr-info-ics fldCheckDigit txtBlack"*@
                <!--<td>
                    <input class="txtBlack" style="width: 75px; background: #EAEBEF" name="fldCheckDigit" value="@ViewBag.InwardItemViewModel.getField("fldCheckDigit").Trim()" />
                </td>

                }-->
                  if (field == "fldChequeSerialNo")
                {
                @*class= "micr-info-ics fldChequeSerialNo*@
                <td>
                    <input class=" txtBlack" style="width: 75px; background: #EAEBEF" id="fldChequeSerialNo" value="@ViewBag.InwardItemViewModel.getField("fldChequeSerialNo").Trim()" />
                </td>
                }
            else if (field == "fldIssueBankCode")
            {
                @*class= "micr-info-ics fldIssueBankCode*@
                <td>
                    <input class="txtBlack" style="width: 70px; background: #EAEBEF" name="fldIssueBankCode" value="@ViewBag.InwardItemViewModel.getField("fldIssueBankCode").Trim()" />
                </td>
            }
            else if (field == "fldAccountNumber")
            {
                @*<span class="micr-info-ics fldAccountNumber txtBlack" id="fldAccountNumber" value="@ViewBag.InwardItemViewModel.getField("fldAccountNumber").Trim()">@ViewBag.InwardItemViewModel.getField("fldAccountNumber").Trim()</span>*@
                <td>
                    <input class="txtBlack" style="width: 140px; background: #EAEBEF" id="fldAccountNumber" value="@ViewBag.InwardItemViewModel.getField("fldAccountNumber").Trim()" />
                </td>
            }
            else if (field == "fldIssueStateCode")
            {
                @*<span class="micr-info-ics fldIssueStateCode txtBlack"> @ViewBag.InwardItemViewModel.getField("fldIssueStateCode").Trim()</span>*@
                <td>
                    <input class="txtBlack" style="width: 75px; background: #EAEBEF" value="@ViewBag.InwardItemViewModel.getField("fldIssueStateCode").Trim()" />
                </td>

            }
            else if (field == "fldIssueBranchCode")
            {
                @*<span class="micr-info-ics fldIssueBranchCode txtBlack">@ViewBag.InwardItemViewModel.getField("fldIssueBranchCode").Trim()</span>*@
                <td>
                    <input class="txtBlack" style="width: 70px;background: #EAEBEF" value="@ViewBag.InwardItemViewModel.getField("fldIssueBranchCode").Trim()" />
                </td>
            }

            else if (field == "fldTransCode")
            {
                @*<span class="micr-info-ics fldTransCode txtBlack" name="fldTransCode" value="@ViewBag.InwardItemViewModel.getField("fldTransCode").Trim()">@ViewBag.InwardItemViewModel.getField("fldTransCode").Trim()</span> }*@
                <td>
                    <input class="txtBlack" style="width: 70px; background: #EAEBEF" name="fldTransCode" value="@ViewBag.InwardItemViewModel.getField("fldTransCode").Trim()" />
                </td>
            }
            
        }
    }
        <td>
            <button type="button" id="approveBtn" value="Approve" class="btn-verification-border btn-verification btn-medium normal-submit-pending-branch" style="margin-left :5px;display: inline-block;">Confirm</button>
        </td>
        </tr>
        </tbody>

    </table>


    @*<span type="hidden" class="micr-info fldIssueBranchCode txtBlack" name="fldIssueBranchCode" value="@ViewBag.InwardItemViewModel.getField("fldIssueBranchCode").Trim()">@ViewBag.InwardItemViewModel.getField("fldIssueBranchCode").Trim()</span>*@
    @*<span class="micr-info-ics fldTransCode txtBlack" name="fldTransCode" value="@ViewBag.InwardItemViewModel.getField("fldTransCode").Trim()">@ViewBag.InwardItemViewModel.getField("fldTransCode").Trim()</span>*@

    @*For Image Retriever Audit Log*@
    @*if (ViewBag.TaskId.ToString().Trim() == "309230" || ViewBag.TaskId.ToString().Trim() == "301120" || ViewBag.TaskId.ToString().Trim() == "301130")
        {*@
    <input type="hidden" name="fldIssueBranchCodeLog" value="@ViewBag.InwardItemViewModel.getField("fldIssueBranchCode")" />
    <input type="hidden" name="fldChequeSerialNoLog" value="@ViewBag.InwardItemViewModel.getField("fldChequeSerialNo")" />
    <input type="hidden" name="fldAccountNumberLog" value="@ViewBag.InwardItemViewModel.getField("fldAccountNumber")" />
    @*}*@




    @if (ViewHelper.HasUrlAccess(CurrentUser.Account, ViewBag.AllowedAction, "ConfirmMICR"))
    {
        <td><button data-action="@Url.Action("ConfirmMICR")" class="normal-submit-Verification btn btn-default">@Locale.btnConfirm</button></td>
    }

    @if ((ViewBag.InwardItemViewModel.getField("fldModifiedFields").Trim() == "AccNo"))
    {
        <script>
            $(document).ready(function () {
                $('#fldAccountNumber').removeClass("txtBlack").addClass("txtRed")
                /*$('#fldAccountNumber').css({
                        'color': 'red'
                    });*/
            });
        </script>
    }
    else if ((ViewBag.InwardItemViewModel.getField("fldModifiedFields").Trim() == "ChequeNo"))
    {
        <script>
            $(document).ready(function () {
                $('#fldChequeSerialNo').removeClass("txtBlack").addClass("txtRed")
                /*$('#fldChequeSerialNo').css({
                    'color': 'red'
                });*/
            });
        </script>
    }
    else if ((ViewBag.InwardItemViewModel.getField("fldModifiedFields").Trim() == "AccNo,ChequeNo"))
    {
        <script>
            $(document).ready(function () {
                $('#fldChequeSerialNo, #fldAccountNumber').removeClass("txtBlack").addClass("txtRed")
                /*$('#fldChequeSerialNo, #fldAccountNumber').css({
                    'color': 'red'
                });*/
            });
        </script>
    }
