@using INCHEQS.Resources
@using INCHEQS.Common
@{
    ViewBag.Title = "Imported File Details";
    var i = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Imported File Details</title>
</head>
<body>
    <div style="overflow-y: scroll; height:500px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Branch ID</th>
                    <th>Branch Description</th>
                    <th>Town Name</th>
                    <th>State Code</th>
                    <th>Zone Type</th>
                    <th>Zone Code</th>
                    <th>Bank Type</th>
                    <th>Update Date</th>
                    <th>Mail Box</th>
                    <th>Business Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in ViewBag.FileList.Rows)
                {
                <tr>
                    <td>@{i++;} @i</td>
                    <td>@row["fldBranchId"]</td>
                    <td>@row["fldBranchDesc"]</td>
                    <td>@row["fldTownName"]</td>
                    <td>@row["fldStateCode"]</td>
                    <td>@row["fldZoneType"]</td>
                    <td>@row["fldZoneCode"]</td>
                    <td>@row["fldBankType"]</td>
                    <td>@row["fldUpdateDate"]</td>
                    <td>@row["fldMailBox"]</td>
                    <td>@row["fldBusinessType"]</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
