@using INCHEQS.Security
@using INCHEQS.Resources
@using INCHEQS.TaskAssignment
@using (Html.BeginForm("Update", "TCCode", FormMethod.Post, new { @Class = "secure-form" })) {
@Html.AntiForgeryToken()
<div class="form-horizontal">

    <h4>@Locale.TCCodeMaintenance</h4>
    <hr/>
    <span class="red"><i>*@Locale.RequiredField</i></span>
    <table class="table form-table table-no-border">
        <TBODY>
            <TR>
                <Th>@Locale.TCCode</Th>
               
                    <TD>
                        <input type="hidden" name="tcCode" value="@ViewBag.TCCodes.Rows[0]["fldTCCode"]">
                @ViewBag.TCCodes.Rows[0]["fldTCCode"] 
                    </TD>
            </TR>
            <TR>
                <Th>@Locale.TCCodeDescription</Th>
               
                    <TD>
                        <input type="text" name="tcDesc" value="@ViewBag.TCCodes.Rows[0]["fldTCDesc"]">
                        <span class="red-star">*</span>
                    </TD>
            </TR>
        </TBODY>
    </table>
    <button type="submit" Class="btn btn-default @(CurrentUser.HasTask(TaskIds.TCCode.UPDATE) ? "" : "hidden")">@Locale.SaveBtn</button>
    <a href="@Url.Action("Index")" class="btn btn-default secure-nav @(CurrentUser.HasTask(TaskIds.TCCode.INDEX) ? "" : "disabled")">@Locale.btnClose</a>
</div>

}