@using INCHEQS.Security
@using INCHEQS.TaskAssignment
@using INCHEQS.Resources
@using (Html.BeginForm("SaveCreate", "NonConformanceFlag", FormMethod.Post, new { @Class = "secure-form" })) {
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>@Locale.NonConformanceFlagMaintenance (Add)</h4>
    <hr />
    <span class="red"><i>*@Locale.RequiredField</i></span>
    <table class="table form-table table-no-border">
        <TBODY>

            <TR>
                <Th>@Locale.NCFValue</Th>

                <td>
                    <input type="text" maxlength="1" class="number-only" name="NCFCode" />
                    <span class="red">*</span>

                </td>

            </TR>
            <TR>
                <Th>@Locale.NCFDesc</Th>

                <td>
                    <textarea type="text" name="NCFDesc" style="width:250px"/>
                    <span class="red">*</span>
                </td>

            </TR>

        </TBODY>
    </table>
    <button type="submit" Class="btn btn-default @(CurrentUser.HasTask(TaskIds.NCFlag.CREATE) ? "" : "hidden")">@Locale.SaveBtn</button>
    <a href="@Url.Action("Create")" class="btn btn-default secure-nav @(CurrentUser.HasTask(TaskIds.NCFlag.INDEX) ? "" : "hidden")">@Locale.btnReset</a>
    <a href="@Url.Action("Index")" class="btn btn-default secure-nav @(CurrentUser.HasTask(TaskIds.NCFlag.INDEX) ? "" : "hidden")">@Locale.btnClose</a>


</div>
}
