@using INCHEQS.Security
@using INCHEQS.TaskAssignment
@using INCHEQS.Resources
@using (Html.BeginForm("SaveCreate", "InternalBranchKBZ", FormMethod.Post, new { @Class = "secure-form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>@Locale.InternalBranchMaintenanceAdd</h4>
        <hr />
        <span class="red"><i>*@Locale.RequiredField</i></span>
        <table class="table form-table table-no-border">
            <TBODY>
                    <tr>
                    <th>@Locale.BranchID</th>
                        <td>
                        <input style="width:250px" type="text" id="branchId" class="number-only" name="branchId" maxlength="8" /><span class="red-star"> *</span>
                        </td>
                    </tr>
                    <tr>
                    <th>@Locale.Location</th>
                        <td>
                        <input type="text" id="location" name="location" style="border: none" readonly />
                        <input type="hidden" id="locationCode" name="locationCode" style="border: none" readonly />
                        </td>
                    </tr>
                    <tr>
                    <th>@Locale.BankCode</th>
                        <td>
                        <input type="text" id="fldBankCode" name="fldBankCode" style="border: none" readonly />
                        @*<input type="hidden" id="SelectBank" name="SelectBank" style="border: none" readonly />*@
                        </td>
                </tr>
                <TR>
                    <Th>@Locale.BranchCode </Th>

                        <td>
                        <input type="text" id="branchcode" name="branchcode" style="border: none" readonly />
                    </td>
                </TR>
                <TR>
                    <Th>@Locale.BranchDescription</Th>
                    <td>
                        <input style="width:250px;" type="text" id="branchDesc" name="branchDesc" maxlength="100"><span class="red-star"> *</span>
                        </td>

                </TR>
                <TR>
                    <Th>@Locale.InternalBranchCode</Th>
                        <td>
                        <input style="width:250px;" maxlength="3" class="number-only" type="text" id="internalBranchCode" name="internalBranchCode">
                    </td>

                </TR>
                <TR>
                    <Th>@Locale.ClearingBranchID</Th>
                    <td>
                        <input type="checkbox" name="chkSelfClearing" id="chkSelfClearing" onclick="myFunction()"> Self Clearing
                        @*<input type="text" name="clearingBranchId" id="clearingBranchId" value="test">*@

                        <select style="width:200px" name="clearingBranchId" id="clearingBranchId">
                            <option value="" selected="selected">Please Select Clearing Branch Id</option>
                            @foreach (var item in @ViewBag.ClearingBranchId)
                            {
                                @*<option value="@item.branchId">@item.branchId - @item.branchDesc</option>*@
                                  <option value="@item.branchId">@item.branchId - @item.branchDesc </option>
                            }
                        </select>
                        <span class="red-star"> *</span>
                    </td>
                </TR>

                <TR>
                    <Th>@Locale.BankZoneCodeLabel</Th>
                    <td>
                        <select name="fldBankZoneCode">
                            <option value="" selected="selected">Select Bank Zone Code</option>
                            @foreach (var item in @ViewBag.BankZone)
                            {
                                <option value="@item.BankZoneCode">@item.BankZoneCode</option>
                            }
                        </select>
                        <span class="red-star"> *</span>
                    </td>
                </TR>

                <TR>
                    <Th>@Locale.SubCenter</Th>
                    <td>
                        <input type="checkbox" name="fldSubcenter">@Locale.YES
                        
                    </td>

                </TR>

                <TR>
                    <Th>@Locale.EmailAddress</Th>
                    <td>
                        <input style="width:250px;" type="email" id="fldEmailAddress" name="fldEmailAddress" maxlength="100">
                        </td>

                </TR>

                <TR>
                    <Th>@Locale.Address1</Th>
                        <td>
                        <input style="width:250px;" type="text" id="address1" name="address1" maxlength="100">
                        <span class="red-star"> *</span>
                        </td>

                </TR>
                <TR>
                    <Th>@Locale.Address2</Th>
                        <td>
                        <input style="width:250px;" type="text" id="address2" name="address2" maxlength="100">
                        </td>

                </TR>
                <TR>
                    <Th>@Locale.Address3</Th>
                        <td>
                        <input style="width:250px;" type="text" id="address3" name="address3" maxlength="100">
                        </td>

                </TR>
                <TR>
                    <Th>@Locale.Postcode</Th>
                    <td>
                        <input type="text" id="fldPostCode" name="fldPostCode" maxlength="10">

                    </td>
                </TR>

                <TR>
                    <Th>@Locale.City</Th>
                        <td>
                        <input type="text" id="fldCity" name="fldCity" maxlength="50">

                    </td>
                </TR>

                <TR>
                    <Th>@Locale.Country</Th>
                    <td>
                        <select name="fldCountry" id="country">
                            <option value="" selected="selected">Please Select Country</option>
                            @foreach (var item in @ViewBag.Country)
                            {
                                <option value="@item.countryCode">@item.countryDesc</option>
                            }
                        </select>

                        </td>
                </TR>


                <TR>
                    <Th>@Locale.Active</Th>
                        <td>
                        <input type="checkbox" name="chkActive" id="chkActive"> @Locale.YES
                        </td>

                </TR>

            </TBODY>
        </table>

        <button type="submit" data-action="@Url.Action("/SAVECREATE")" Class="btn btn-default normal-submit-save-action-button   @(CurrentUser.HasTask(TaskIdsOCS.InternalBranchKBZ.CREATE) ? "" : "hidden")">@Locale.SaveBtn</button>
        <a href="@Url.Action("Index")" class="btn btn-default secure-nav @(CurrentUser.HasTask(TaskIdsOCS.InternalBranchKBZ.INDEX) ? "" : "hidden")">@Locale.btnClose</a>

    </div>
}

<script type="text/javascript">
    // when page is ready
    //$(document).ready(function () {
    //    // on form submit
    //    $("#chkHQ").on('submit', function () {
    //        // to each unchecked checkbox
    //        $(this + 'input[type=checkbox]:not(:checked)').each(function () {
    //            // set value 0 and check it
    //            $(this).attr('checked', true).val(0);
    //        });
    //    })
    //})

    function myFunction() {

        var checkBox = document.getElementById("chkSelfClearing");
        var text = document.getElementById("clearingBranchId");
        if (checkBox.checked == true){

            text.disabled = true;
            document.getElementById("clearingBranchId").value = "";

        } else {
            
            text.disabled = false;
        }
    }

    $('#fldEmailAddress').keyup(function () {
        $(this).val($(this).val().toLowerCase());
    });


</script>

@*<script src="~/Scripts/App/states.js"></script>*@
@Scripts.Render("~/bundles/BankBranchMaintDetails")

