@using INCHEQS.Resources
<div class="locale pull-left hidden">
    @Locale.Language
    <select id="language">
        <option value="en_US">@Locale.English</option>
        <option value="ms_MY">@Locale.Malay</option>
        <option value="zh_CN">@Locale.Chinese</option>
    </select>
</div>

<div class="trademark pull-right">
    @*ATV is a trademark for OrangeFIN ASIA SDN BHD<br>
    &copy; @DateTime.Now.Year - OrangeFIN ASIA SDN BHD*@
</div>
<div style="text-align: center;">
    INWARD CLEARING SYSTEM Ver 4.0
</div>

