@using INCHEQS.Resources
<input type="text" disabled="disabled" class="cheque-input new_fldCheckDigit number-only @(ViewBag.InwardItemViewModel.getField("fldOriCheckDigit") == ""  ? "" : "txtRed")" value="@ViewBag.InwardItemViewModel.getField("fldCheckDigit")" maxlength="2" />
<input type="text" disabled="disabled" class="cheque-input new_fldChequeSerialNo number-only @(ViewBag.InwardItemViewModel.getField("fldOriChequeSerialNo") == "" ? "" : "txtRed")" value="@ViewBag.InwardItemViewModel.getField("fldChequeSerialNo")" maxlength="6" />
<input type="text" disabled="disabled" class="cheque-input new_fldIssueBankCode number-only @(ViewBag.InwardItemViewModel.getField("fldOriIssueBankCode") == ""  ? "" : "txtRed")" value="@ViewBag.InwardItemViewModel.getField("fldIssueBankCode")" maxlength="2" />
<input type="text" disabled="disabled" class="cheque-input new_fldIssueBranchCode number-only @(ViewBag.InwardItemViewModel.getField("fldOriIssueBranchCode") == ""  ? "" : "txtRed")" value="@ViewBag.InwardItemViewModel.getField("fldIssueBranchCode")" maxlength="3" />
<input type="text" disabled="disabled" class="cheque-input new_fldIssueStateCode number-only @(ViewBag.InwardItemViewModel.getField("fldOriIssueStateCode") == ""  ? "" : "txtRed")" value="@ViewBag.InwardItemViewModel.getField("fldIssueStateCode")" maxlength="2" />
<input type="text" disabled="disabled" class="cheque-input new_fldAccountNumber number-only @(ViewBag.InwardItemViewModel.getField("fldOriAccountNumber") == ""  ? "" : "txtRed")" value="@ViewBag.InwardItemViewModel.getField("fldAccountNumber")" maxlength="10" />
<input type="text" disabled="disabled" class="cheque-input new_fldTransCode number-only @(ViewBag.InwardItemViewModel.getField("fldOriTransCode") == ""  ? "" : "txtRed")" value="@ViewBag.InwardItemViewModel.getField("fldTransCode")" maxlength="2" />
<input type="hidden" id="remarkField" name="remarkField" value="">
<input type="hidden" disabled="disabled" id="fldOriCheckDigit" name="fldOriCheckDigit" value="@ViewBag.InwardItemViewModel.getField("fldOriCheckDigit")" maxlength="2" />
<input type="hidden" disabled="disabled" id="fldOriChequeSerialNo" name="fldOriChequeSerialNo" value="@ViewBag.InwardItemViewModel.getField("fldOriChequeSerialNo")" maxlength="6" />
<input type="hidden" disabled="disabled"id="fldOriIssueBankCode" name="fldOriIssueBankCode" value="@ViewBag.InwardItemViewModel.getField("fldOriIssueBankCode")" maxlength="2" />
<input type="hidden" disabled="disabled" id="fldOriIssueBranchCode" name="fldOriIssueBranchCode" value="@ViewBag.InwardItemViewModel.getField("fldOriIssueBranchCode")" maxlength="3" />
<input type="hidden" disabled="disabled" id="fldOriIssueStateCode" name="fldOriIssueStateCode" value="@ViewBag.InwardItemViewModel.getField("fldOriIssueStateCode")" maxlength="2" />
<input type="hidden" disabled="disabled" id="fldOriAccountNumber" name="fldOriAccountNumber" value="@ViewBag.InwardItemViewModel.getField("fldOriAccountNumber")" maxlength="10" />
<input type="hidden" disabled="disabled" id="fldOriTransCode" name="fldOriTransCode" value="@ViewBag.InwardItemViewModel.getField("fldOriTransCode")" maxlength="2" />
@if (ViewHelper.HasUrlAccess(CurrentUser.Account, ViewBag.AllowedAction, "ConfirmMICR")) {
    <td><button data-action="@Url.Action("ConfirmMICR")" class="normal-submit btn btn-default">@Locale.btnConfirm</button></td>
}
@if (ViewHelper.HasUrlAccess(CurrentUser.Account, ViewBag.AllowedAction, "RepairMICR")) {
    <td><button data-action="@Url.Action("RepairMICR")" class="normal-submit btn btn-default">@Locale.Repair</button></td>
}
<div class="row">
    <div class="col-sm-9">
        <span class="bold">@Locale.Remarks</span><br />
        <textarea class="remarks" name="textAreaRemarks"></textarea>
    </div>
</div>

