@using INCHEQS.Resources
<input type="text" class="cheque-input new_fldCheckDigit number-only @(ViewBag.InwardItemViewModel.getField("fldOriCheckDigit") == ""  ? "" : "txtRed")" name="new_fldCheckDigit" value="@ViewBag.InwardItemViewModel.getField("fldCheckDigit")" maxlength="2" />
<input type="text" class="cheque-input new_fldChequeSerialNo number-only @(ViewBag.InwardItemViewModel.getField("fldOriChequeSerialNo") == "" ? "" : "txtRed")" name="new_fldChequeSerialNo" value="@ViewBag.InwardItemViewModel.getField("fldChequeSerialNo")" maxlength="6"/>
<input type="text" class="cheque-input new_fldIssueBankCode number-only @(ViewBag.InwardItemViewModel.getField("fldOriIssueBankCode") == ""  ? "" : "txtRed")" name="new_fldIssueBankCode" value="@ViewBag.InwardItemViewModel.getField("fldIssueBankCode")" maxlength="2"/>
<input type="text" class="cheque-input new_fldIssueBranchCode number-only @(ViewBag.InwardItemViewModel.getField("fldOriIssueBranchCode") == ""  ? "" : "txtRed")" name="new_fldIssueBranchCode" value="@ViewBag.InwardItemViewModel.getField("fldIssueBranchCode")" maxlength="3"/>
<input type="text" class="cheque-input new_fldIssueStateCode number-only @(ViewBag.InwardItemViewModel.getField("fldOriIssueStateCode") == ""  ? "" : "txtRed")" name="new_fldIssueStateCode" value="@ViewBag.InwardItemViewModel.getField("fldIssueStateCode")" maxlength="2" />
<input type="text" class="cheque-input new_fldAccountNumber number-only @(ViewBag.InwardItemViewModel.getField("fldOriAccountNumber") == ""  ? "" : "txtRed")" name="new_fldAccountNumber" value="@ViewBag.InwardItemViewModel.getField("fldAccountNumber")" maxlength="10"/>
<input type="text" class="cheque-input new_fldTransCode number-only @(ViewBag.InwardItemViewModel.getField("fldOriTransCode") == ""  ? "" : "txtRed")" name="new_fldTransCode" value="@ViewBag.InwardItemViewModel.getField("fldTransCode")" maxlength="2" />


@*@Html.Partial("Common/_TransactionCodeSelectList", (string)ViewBag.InwardItemViewModel.getField("fldTransCode"))
<input type="hidden" name="new_fldTransCode" value="@ViewBag.InwardItemViewModel.getField("fldTransCode")" readonly="readonly" />*@


@if (ViewHelper.HasUrlAccess(CurrentUser.Account, ViewBag.AllowedAction, "ConfirmMICR")) {
    <td><button data-action="@Url.Action("ConfirmMICR")" class="normal-submit btn btn-default">@Locale.btnConfirm</button></td>
}
<div class="row">
    <div class="col-sm-9">
        <span class="bold">@Locale.Remarks</span><br />
        <textarea class="remarks" name="textAreaRemarks"></textarea>
    </div>
</div>
