@using INCHEQS.Resources
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>@Locale.FolderName</th>
            <th>@Locale.Size</th>
            <th>@Locale.DateandTime</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var file in ViewBag.FileList){       
        <tr>
            <td>@file.fileName</td>
            <td>@file.fileSize Bytes</td>
            <td>@file.fileTimeStamp</td>
        </tr>
        }
    </tbody>
</table>