@{
    ViewData["Title"] = ViewBag.SearchResult.PageTitle;
}
@using INCHEQS.Models.SearchPageConfig;
@using INCHEQS.Resources

<table id="search-result-table" class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            @Html.Partial("SearchPage/_TableHeaderColumns")
        </tr>
    </thead>
    <tbody>
        @{
            string urlAction = Url.Action("ChequeVerificationPage");
            if (ViewBag.TaskRole == "ChequeRetriever")
            {
                urlAction = Url.Action("ChequeRetrieverPage");
            }
        }
        @foreach (List<DataField> row in ViewBag.SearchResult.TableData)
        {
            <tr class="inward-item-fullview" data-action="@urlAction">
                @Html.Partial("SearchPage/_TableBodyColumns", row)
            </tr>
        }
    </tbody>
    <tfoot>
        @Html.Partial("SearchPage/_TablePaginationFooterForVerification")
    </tfoot>
</table>
@if (ViewBag.SearchResult.TotalRecordCount > 0)
{
    if (ViewHelper.HasUrlAccess(CurrentUser.Account, ViewBag.AllowedAction, "ApproveAll"))
    {
        <a class="btn btn-default modal-submit" data-action="@Url.Action("ApproveAll")">Approve All</a>
    }
    if (ViewHelper.HasUrlAccess(CurrentUser.Account, ViewBag.AllowedAction, "ReturnAll"))
    {
        <a class="btn btn-default modal-submit" data-action="@Url.Action("ReturnAll")">Return All</a>
    }
    if (ViewHelper.HasUrlAccess(CurrentUser.Account, ViewBag.AllowedAction, "LockVerification"))
    {
        <a class="btn btn-default verification-inward-item-fullview" data-action="@Url.Action("LockVerification")">Verification</a>
    }
    if (ViewHelper.HasUrlAccess(CurrentUser.Account, ViewBag.AllowedAction, "PrintAll"))
    {
        @*<button class="btn btn-default modal-submit" data-action="@Url.Content("~/ICS/ICCSPrintReport/PrintReport?p=all")" data-title="Print Report - All">Print</button>*@
        @*<button class="btn btn-default modal-print" data-action="@Url.Content("~/PPS/PrintReport?p=all&tId=" +ViewBag.TaskIds )" data-title="Print Report - All">@Locale.Print</button>*@
        <button class="btn btn-default modal-submit" data-action="@Url.Content("~/ICS/ICCSPrintReport/PrintReport?p=all")" data-title="Print Report - All">Print</button>
    }
    if (ViewHelper.HasUrlAccess(CurrentUser.Account, ViewBag.AllowedAction, "PrintSum"))
    {
        <button class="btn btn-default modal-submit" data-action="@Url.Content("~/ICS/ICCSPrintReport/PrintReport?p=sum")" data-title="Print Report - Summary">Print Summary</button>
    }
    if (ViewHelper.HasUrlAccess(CurrentUser.Account, ViewBag.AllowedAction, "PrintMine"))
    {
        <button class="btn btn-default modal-submit" data-action="@Url.Content("~/ICS/ICCSPrintReport/PrintReport?p=mine")" data-title="Print Report (Mine)">Print</button>
    }
}
@Scripts.Render("~/bundles/SearchResultPage")
