@using INCHEQS.TaskAssignment;
@using INCHEQS.Models.SearchPageConfig;
@using INCHEQS.Resources
@using INCHEQS.Security
@using INCHEQS.TaskAssignment
@Html.Partial("SearchPage/_InfoBox")
@*@using (Html.BeginForm("Delete", "ReleaseLockedCheque", FormMethod.Post, new { @Class = "secure-form" }))
    {*@
<table id="search-result-table" class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            @Html.Partial("SearchPage/_TableHeaderColumns")
        </tr>
    </thead>
    <br>
    <tbody>
        @foreach (List
    <DataField>
        row in ViewBag.SearchResult.TableData)
        {
            <tr>
                @Html.Partial("SearchPage/_TableBodyColumnsNoLink", row)
            </tr>
        }
    </tbody>
    <tfoot>
        @Html.Partial("SearchPage/_TablePaginationFooter")
    </tfoot>
</table>
<button type="submit" data-action="@Url.Action("/DELETE")" Class="btn btn-default normal-submit-delete-action-button @(CurrentUser.HasTask(TaskIds.ReleaseLockedCheque.DELETE) ? "" : "hidden")">@Locale.DeleteBtn</button>
@*<button type="submit" class="btn btn-default confirm @(CurrentUser.HasTask(TaskIds.ReleaseLockedChequeOCS.DELETE) ? "" : "hidden")">@Locale.DeleteBtn</button>*@
@*}*@

@Scripts.Render("~/bundles/SearchResultPage")
<script>
    $(".init-search").click(function () {
       //debugger;
        var $form = $(this).closest("form");
        $(".pageHolder", $form).remove();
        $("<input type='hidden' class='pageHolder' />", $form).attr("name", "searchbtnvalue").attr("value", "1").appendTo($form);

    })

    $(document).ready(function () {
        // Check or Uncheck All checkboxes
        $("#chkDeleteAll").change(function () {
            var checked = $(this).is(':checked');
            if (checked) {
                $("input[name=deleteBox]").each(function () {
                    $(this).prop("checked", true);
                });
            } else {
                $("input[name=deleteBox]").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

        // Changing state of CheckAll checkbox
        $(".CheckBox").click(function () {

            if ($("input[name=deleteBox]").length == $("input[name=deleteBox]:checked").length) {
                $("#chkDeleteAll").prop("checked", true);
            } else {
                $("#chkDeleteAll").removeAttr("checked");
            }

        });
    });
</script>