@using INCHEQS.Security
@using INCHEQS.Resources
@using INCHEQS.TaskAssignment
@using (Html.BeginForm("SaveCreate", "ScannerWorkStation", FormMethod.Post, new { @Class = "secure-form" }))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">

        <h4>@Locale.ScannerWorkStation</h4>
        <hr />
        <span class="red"><i>*@Locale.RequiredField</i></span>
        <table class="table form-table table-no-border">
            <TBODY>
                @*<TR>
                        <Th>@Locale.WorkstationScannerId</Th>

                            @*<input type="text" name="scannerId" width="20" height="20" readonly>
                    <span class="red-star">*</span>*@

                @*</TR>*@

                <TR>
                    <Th>@Locale.WorkstationScannerId</Th>

                    <td>

                        @*<span value="@ViewBag.ScannerId" name="scannerId" id="scannerId" maxlength="20"></span>*@
                        @*<input type="text" name="scannerId" style="border: none" value="@ViewBag.ScannerId" readonly>*@
                        <input type="text" name="scannerId1" style="border: none" value="@ViewBag.ScannerId.PadLeft(3, '0')" readonly>

                    </td>

                    <td style="display:none">

                        @*<span value="@ViewBag.ScannerId" name="scannerId" id="scannerId" maxlength="20"></span>*@
                        @*<input type="text" name="scannerId" style="border: none" value="@ViewBag.ScannerId" readonly>*@
                        <input type="text" name="scannerId" style="border: none" value="@ViewBag.ScannerId" readonly>

                    </td>

                </TR>


                <TR>
                    <Th>@Locale.WorkstationScannerName</Th>
                    <td>
                        <select class="default" name="scannerType" id="scannerType" maxlength="20">

                            <option value="">Please Select Scanner Type</option>
                            @foreach (var row in ViewBag.ScannerName.Rows)
                            {
                                <option value="@row["fldScannerTypeId"]">
                                    @row["fldscannertypeid"] - @row["fldscannertype"]
                                </option>
                            }
                        </select>
                        <span class="red-star">*</span>
                    </td>
                </TR>

                <TR>
                    <Th>@Locale.WorkstationScannerBranch</Th>

                    <td>
                        <select class="default" name="branchId" id="branchId" maxlength="20">

                            <option value="">Please Select Scanner Branch</option>
                            @foreach (var row in ViewBag.BranchDetails.Rows)
                            {
                                <option value="@row["fldbranchid"]">
                                    @row["fldbranchid"] - @row["fldBranchDesc"]
                                </option>
                            }
                        </select>
                        <span class="red-star">*</span>
                    </td>
                </TR>

                <TR>
                    <Th>@Locale.WorkstationScannerLocation</Th>

                    <td>
                        <span name="location"></span>
                    </td>
                </TR>
                <TR>
                    <Th>@Locale.WorkstationScannerBank</Th>

                    <td>
                        <span name="bankcode"></span>
                    </td>
                </TR>
                <TR>
                    <Th>@Locale.WorkstationScannerBranchCode</Th>

                    <td>
                        <span name="branchcode"></span>
                    </td>
                </TR>
                <TR>
                    <Th>Mac Address 1</Th>

                    <TD>
                        <input type="text" name="macAdd1">
                        <span class="red-star">*</span>
                    </TD>
                </TR>
                <TR>
                    <Th>Mac Address 2</Th>

                    <TD>
                        <input type="text" name="macAdd2">
                    </TD>
                </TR>
                <TR>
                    <Th>Mac Address 3</Th>

                    <TD>
                        <input type="text" name="macAdd3">
                    </TD>
                </TR>
                <TR>
                    <Th>@Locale.Active</Th>

                    <TD>
                        <input type="checkbox" name="chkActive" id="chkActive"> Yes
                    </TD>
                </TR>
            </TBODY>
        </table>
        <button type="submit" data-action="@Url.Action("/SAVECREATE")" Class="btn btn-default normal-submit-save-action-button @(CurrentUser.HasTask(TaskIds.ScannerWorkStation.SAVECREATE) ? "" : "hidden")">@Locale.SaveBtn</button>
        <a href="@Url.Action("Index")" class="btn btn-default secure-nav @(CurrentUser.HasTask(TaskIds.ScannerWorkStation.INDEX) ? "" : "disabled")">@Locale.btnClose</a>
</div>

}

@Scripts.Render("~/bundles/BankBranchMaintain")