@using INCHEQS.Models.SearchPageConfig;
@using INCHEQS.Resources;
@using INCHEQS.TaskAssignment;
@*@Html.Partial("SearchPage/_InfoBox")*@

@{
    
    var i = 0;
}


<table class="table table-striped table-hover table-bordered">


    @if (ViewBag.Type == "Summary")
    {
        <thead>


            <tr>
                @Html.Partial("SearchPage/_TableHeaderColumns")
                <td style="background-color:#BDEDFF" class="txtBlack">Details</td>
            </tr>



        </thead>
        <tbody>
            @foreach (List<DataField> row in ViewBag.SearchResult.TableData)
            {
                
              
                    <tr>
                        @Html.Partial("SearchPage/_TableBodyColumnsNoLink", row)
                        <td><button type="button" class="row-modal-submit-Posted-detail btn btn-default btn-xs" data-action="@Url.Action("GetMICRItemList")">Details</button></td>
                    </tr>
                
            }
        </tbody>
        }

        else if (ViewBag.Type == "Submitted")
        {
            <thead>


                <tr>
                    @Html.Partial("SearchPage/_TableHeaderColumns")

                </tr>



            </thead>
            <tbody>
                @foreach (List<DataField> row in ViewBag.SearchResult.TableData)
                {

                    <tr>
                        @Html.Partial("SearchPage/_TableBodyColumnsNoLink", row)                        
                    </tr>

                }

            </tbody>
        }

        @*@if (ViewBag.Type == "Ready")
            {
                <tfoot>
                    @Html.Partial("SearchPage/_TablePaginationFooter")
                </tfoot>
            }
            else
            {*@
    <tfoot>
        @Html.Partial("SearchPage/_TablePaginationFooterForInward")
    </tfoot>
    @*}*@
</table>

@if (ViewBag.Type == "Submitted")
{
    //<button data-action="@Url.Action("/Reject")" Class="btn btn-default secure-nav normal-submit-without-search @(CurrentUser.HasTask(TaskIdsOCS.BranchClearing.REJECT) ? "" : "hidden")">@Locale.CancelBatch</button>*@
}
<script type="text/javascript">
    function Confirm() {
        var input = $("<input />");
        input.attr("type", "hidden").attr("name", "confirm_value");
        if (confirm("Confirm Action?")) {
            input.val("Yes");
            return true;
        } else {
            input.val("No");
            return false;
        }
        $("form")[0].appendChild(input[0]);
    }
</script>


@Scripts.Render("~/bundles/SearchResultPage")
<script src="~/Scripts/App/common.js"></script>
