@using INCHEQS.Security;
@using INCHEQS.Resources
@using INCHEQS.TaskAssignment
@using (Html.BeginForm("SaveCreate", "ReturnCode", FormMethod.Post, new { @Class = "secure-form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>@Locale.MSReturnCodeMaintenance</h4>
        <hr />
        <span class="red"><i>*@Locale.RequiredField</i></span>

        <table class="table form-table table-no-border">
            <TBODY>
                <TR>
                    <Th>@Locale.ReturnCode</Th>

                    <td>
                        <input type="text" name="txtRejectCode" id="txtRejectCode" maxlength="3"><span class="red-star"> *</span>
                    </td>
                </TR>

                <TR>
                    <Th>@Locale.ReturnDescription</Th>

                    <td>
                        <input type="text" name="txtRejectDesc" id="txtRejectDesc"><span class="red-star"> *</span>
                    </td>
                </TR>

                <TR>
                    <Th>@Locale.ReturnType</Th>
                    <td>
                        <select class="default" name="txtType" id="txtType" maxlength="20">
                            @foreach (var row in ViewBag.RejectTypes.Rows)
                            {
                                <option value="@row["fldRejectType"]">
                                    @row["fldRejectType"]
                                </option>
                            }
                        </select>
                    </td>
                </TR>

                <tr style="DISPLAY: none">
                    <th>@Locale.UnpostedEntry</th>
                    <td><input checked type="checkbox" id="txtUnposted" name="txtUnposted" value="1"></td>
                </tr>

                 @*<TR>
                    <Th>@Locale.WaiveCharges</Th>
                    <td>
                        <select class="default" id="txtCharges" name="txtCharges">
                            <option value="1">@Locale.NO</option>
                            <option value="0"> @Locale.YES</option>
                        </select>
                    </td>
                </TR>*@

                <TR>
                    <TD>
                        <input type="hidden" id="txtCharges" name="txtCharges" value="0">
                        <button id=btnsave alt=Save type="submit" value=Save name=btnSave class="btn btn-default @(CurrentUser.HasTask(TaskIds.ReturnCode.SAVECREATE) ? "" : "")">@Locale.SaveBtn</button>
                        <a href="@Url.Action("Index")" class="btn btn-default secure-nav @(CurrentUser.HasTask(TaskIds.ReturnCode.INDEX) ? "" : "")">@Locale.btnClose</a>
                    </TD>

                </TR>
            </TBODY>
        </table>

    </div>
}
