@using INCHEQS.Security;
@using INCHEQS.Resources;
@using INCHEQS.TaskAssignment;
@using (Html.BeginForm("Update", "BankHostStatusKBZ", FormMethod.Post, new { @Class = "secure-form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Maintenance > Cheque Verification > Bank Host Status (Edit)</h4>
        <hr />
        <table class="table form-table table-no-border">
            <tbody>
                <tr>
                    <th>Bank Host Status Code</th>
                    <td>
                        <input type="text" style="border: none" value="@ViewBag.BankHostStatusKBZ.fldBankHostStatusCode" name="fldBankHostStatusCode" readonly />
                    </td>
                </tr>
                <tr>
                    <th>Bank Host Status Description</th>
                    <td>
                        <input type="text" value="@ViewBag.BankHostStatusKBZ.fldBankHostStatusDesc" name="fldBankHostStatusDesc" style="width:300px" /><span class="red-star"> *</span>
                    </td>
                </tr>

                <tr>
                    <th>Bank Host Status Action</th>
                    <td>
                        <select name="fldBankHostStatusAction" id="fldBankHostStatusAction">
                            <option value=""> </option>
                            @foreach (var item in ViewBag.HostStatusAction)
                            {
                                <option value="@item.hostActionCode" @(ViewBag.BankHostStatusKBZ.fldBankHostStatusAction.Trim() == item.hostActionCode.Trim() ? "selected" : "")>@item.hostActionCode - @item.hostActionDesc</option>
                            }
                        </select>

                    </td>
                </tr>

             

            </tbody>
        </table>
        <button type="submit" data-action="@Url.Action("/Update")" Class="btn btn-default normal-submit-save-action-button @(CurrentUser.HasTask(TaskIds.BankHostStatusKBZ.UPDATE) ? "" : "hidden")">@Locale.SaveBtn</button>
        <a href="@Url.Action("Index")" Class="btn btn-default secure-nav  @(CurrentUser.HasTask(TaskIds.BankHostStatusKBZ.INDEX) ? "" : "hidden")">@Locale.btnClose</a>
    </div>
}