﻿@using INCHEQS.Resources
@{
    string urlAction = Url.Action("PrintCheque");
    if (ViewBag.TaskRole == "ChequeRetriever")
    {
        urlAction = Url.Action("PrintChequeRetriever");
    }
}
<input type="hidden" name="bankDesc" value="@ViewBag.CurrentUser.BankDesc">
<input type="hidden" name="fldUIC2" value="@ViewBag.InwardItemViewModel.getField("flduic")">
<button type="button" class="modal-submit btn btn-default btn-xs" data-action="@Url.Action("ChequeHistory")">@Locale.AuditTrail</button>
<button type="button" class="action-download btn btn-default btn-xs" data-action="@urlAction">@Locale.Print</button>
<button type="button" id="closeBtn" class="btn btn-default btn-xs" data-action="@Url.Action("Close")">@Locale.btnClose</button>

@if ((ViewBag.InwardItemViewModel.getField("TotalRecord") != "1") && (ViewBag.ImgRetrieve != "Y"))
{
    <button type="button" id="previousBtn" class="normal-submit btn btn-default btn-xs" data-action="@Url.Action("PrevCheque")">@Locale.Previous</button>
    if (!ViewBag.InwardItemViewModel.getField("RowNumber").Equals(ViewBag.InwardItemViewModel.getField("TotalRecord")))
    {
        <button type="button" id="nextBtn" class="normal-submit btn btn-default btn-xs" data-action="@Url.Action("NextCheque")">@Locale.Next</button>
    }
}

