@using INCHEQS.Security;
@using INCHEQS.Resources;
@using INCHEQS.TaskAssignment;
@using (Html.BeginForm("Update", "BankCode", FormMethod.Post, new { @Class = "secure-form" })) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Locale.BankCodeMaintenanceEdit</h4>
        <hr />
        <span class="red"><i>*@Locale.RequiredField</i></span>
        <table class="table form-table table-no-border">
            <tbody>
                <tr>

                    <th>@Locale.BankCode</th>
                    <td>
                        <input type="hidden" value="@ViewBag.BankCode["fldBankCode"]" name="bankCode" />@ViewBag.BankCode["fldBankCode"]
                    </td>
                </tr>
                <tr>
                    <th>@Locale.BankDescription</th>
                    <td>
                        <input type="text" value="@ViewBag.BankCode["fldBankDesc"]"  maxlength="100" name="bankDesc" style="width:300px" /> <span class="red-star"> *</span>
                    </td>
                </tr>
                <tr>
                    <th>@Locale.BankAbbreviation</th>
                    <td>
                        <input type="text" value="@ViewBag.BankCode["fldBankAbb"]" name="bankAbbreviation" maxlength="10" /><span class="red-star"> *</span>
                    </td>
                </tr>
                <tr>
                    <th>@Locale.BankType</th>
                    <td>
                        <select class="default" name="bankTypeId" maxlength="20">
                            @foreach (var row in ViewBag.BankType.Rows)
                            {
                                <option value="@row["fldBankType"]" @(ViewBag.BankCode["fldBankType"].Trim() == row["fldBankType"].Trim() ? "selected" : "")>
                                    @row["fldBankType"] - @row["fldBankTypeDesc"]
                                </option>
                            }
                        </select>
                        <input type="hidden" value="@ViewBag.BankCode["fldBankType"]" name="oldBankType">
                        <span class="red-star"> *</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" data-action="@Url.Action("/UPDATE")" Class="btn btn-default normal-submit-save-action-button @(CurrentUser.HasTask(TaskIds.BankCode.EDIT) ? "" : "hidden")">@Locale.SaveBtn</button>
        <a href="@Url.Action("Edit", new {bankCodeParam = @ViewBag.BankCode["fldBankCode"],bankTypeParam = @ViewBag.BankCode["fldBankType"]})" class="btn btn-default secure-nav @(CurrentUser.HasTask(TaskIds.BankCode.UPDATE) ? "" : "hidden")">@Locale.btnReset</a>
        <a href="@Url.Action("Index")" Class="btn btn-default secure-nav  @(CurrentUser.HasTask(TaskIds.BankCode.INDEX) ? "" : "hidden")">@Locale.btnClose</a>
    </div>  
}
