@using INCHEQS.Security
@using INCHEQS.TaskAssignment
@using INCHEQS.Resources
@using (Html.BeginForm("Edit", "BranchCodeChecker", FormMethod.Post, new { @Class = "secure-form" }))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>@Locale.BranchCodeMaintenanceChecker</h4>
    <hr />
    <span class="red"><i>*@Locale.RequiredField</i></span>
    <table class="table form-table table-no-border">
        <TBODY>
            @if (ViewBag.BranchCodeTemp != null)
            {
                <tr>
                    <th>@Locale.BankType</th>
                    <td>
                        <input type="text" style="border: none;width:250px" value="@ViewBag.BranchCodeTemp["fldBankType"]" readonly />
                        <input type="hidden" name="bankTypeId" style="border: none" value="@ViewBag.BranchCodeTemp["fldBankType"]" />
                    </td>
                </tr>
                <tr>
                    <th>@Locale.BranchID</th>
                    <td>
                        <input type="text" style="border: none" value="@ViewBag.BranchCodeTemp["fldBranchId"]" readonly />
                        <input type="hidden" name="branchId" style="border: none" value="@ViewBag.BranchCodeTemp["fldIdForDelete"]" />
                    </td>
                </tr>
                <tr>
                    <th>@Locale.BankCode</th>
                    <td>

                        <input type="text" id="bankCode" name="bankCode" value="@ViewBag.BranchCodeTemp["fldBankCode"]" style="border: none;width:250px" readonly />
                    </td>
                </tr>
                <tr>
                    <th>@Locale.StateCode</th>
                    <td>

                        <input type="text" id="stateCode" name="stateCode" value="@ViewBag.BranchCodeTemp["fldStateCode"]" style="border: none;width:250px" readonly />
                    </td>
                </tr>
                <TR>
                    <Th>@Locale.BranchCode </Th>

                    <td>
                        <input type="text" id="branchcode" name="branchcode" value="@ViewBag.BranchCodeTemp["fldBranchCode"]" style="border: none;width:250px" readonly />
                    </td>
                </TR>
                <TR>
                    <Th>@Locale.BranchDescription</Th>
                    <td>
                        @if (ViewBag.BranchCodeTemp["fldStatus"].ToString().Substring(0, 1) != "U")
                        {
                            <input style="width:250px" type="text" name="branchDesc" value="@ViewBag.BranchCodeTemp["fldBranchDesc"]" maxlength="100" disabled>
                        }
                        else
                        {
                            if (ViewBag.BranchCodeTemp["fldBranchDesc"] != ViewBag.BranchCode["fldBranchDesc"])
                            {
                                <input style="width:250px;color: #FFFFFF;background-color: #FF0000;" type="text" name="branchDesc" value="@ViewBag.BranchCodeTemp["fldBranchDesc"]" maxlength="100" disabled>
                            }
                            else
                            {
                                <input style="width:250px" type="text" name="branchDesc" value="@ViewBag.BranchCodeTemp["fldBranchDesc"]" maxlength="100" disabled>
                            }
                        }
                        <span class="red-star"> *</span>
                    </td>
                </TR>
                <tr>
                    <th>@Locale.BusinessType</th>
                    <td>
                        @Locale.CONV<input type="radio" name="businessType" value="1" @(ViewBag.BranchCodeTemp["fldBusinessType"].Trim() == "Conventional" ? "checked" : "")  disabled/> &nbsp;&nbsp;&nbsp;
                        @Locale.SPI<input type="radio" name="businessType" value="2" @(ViewBag.BranchCodeTemp["fldBusinessType"].Trim() == "Islamic" ? "checked" : "") disabled/> &nbsp;&nbsp;&nbsp;
                        <span class="red-star"> *</span>
                    </td>

                </tr>
            }
        </TBODY>
    </table>

    <button data-action="@Url.Action("/Approve2")" Class="btn btn-default normal-submit-CustomConfirm-action-button @(CurrentUser.HasTask(TaskIds.BranchCodeChecker.VERIFY) ? "" : "hidden") " confirm-msg="Are you sure you want to approve?" value="Approve">@Locale.ApproveBtn</button>
    <button data-action="@Url.Action("/Reject2")" Class="btn btn-default normal-submit-CustomConfirm-action-button @(CurrentUser.HasTask(TaskIds.BranchCodeChecker.VERIFY) ? "" : "hidden")" confirm-msg="Are you sure you want to reject?" value="Reject">@Locale.RejectBtn</button>
    <a href="@Url.Action("/Index")" class="btn btn-default secure-nav  @(CurrentUser.HasTask(TaskIds.BranchCodeChecker.INDEX) ? "" : "hidden")">@Locale.btnClose</a>

</div>


}

