﻿@using INCHEQS.Resources
@{
    /**/

    /**/

    /**/

    string urlAction = Url.Action("PrintCheque");
    if (ViewBag.TaskRole == "ChequeRetriever")
    {
        urlAction = Url.Action("PrintChequeRetriever");
    }
}
<input type="hidden" name="bankDesc" value="@ViewBag.CurrentUser.BankDesc">
<input type="hidden" name="fldUIC2" value="@ViewBag.InwardItemViewModel.getField("fldUIC")">

@if (ViewBag.InwardItemViewModel.getField("PreviousValue") != "")
{
    <button type="button" id="previousBtn" class="normal-submit btn-verification-border btn-verification btn-medium" data-action="@Url.Action("PrevCheque")">@Locale.Previous</button>
}



<div class="text-right">

    <button type="button" class="modal-submit btn-medium btn-verification-border btn-verification" data-action="@Url.Action("ChequeHistory")">@Locale.AuditTrail</button>
    <button type="button" class="action-download btn-verification-border btn-verification btn-medium" data-action="@urlAction">@Locale.Print</button>
    <button type="button" id="closeBtn" class="btn-verification-border btn-verification btn-medium" data-action="@Url.Action("Close")">@Locale.btnClose</button>
    <button type="button" id="nextBtn" class="normal-submit btn-verification-border btn-verification btn-medium" data-action="@Url.Action("NextCheque")">@Locale.Next</button>
</div>


@*<button type="button" class="modal-submit btn btn-default btn-xs" data-action="@Url.Action("ChequeHistory")">@Locale.AuditTrail</button>*@

@*<button type="button" id="nextBtn" class="normal-submit btn btn-default btn-xs" data-action="@Url.Action("NextCheque")">@Locale.Next</button>*@













