@using INCHEQS.Models.SearchPageConfig;
@using INCHEQS.Resources;
@using INCHEQS.TaskAssignment;
@Html.Partial("SearchPage/_InfoBox")

<table id="search-result-table" class="table table-striped table-hover table-bordered">
    @if (ViewBag.Type == "Ready")
    {
        <thead>

            <tr>
                @Html.Partial("SearchPage/_TableHeaderColumns")
                <th>Details</th>
            </tr>
        </thead>

        <tbody>
            @foreach (List<DataField> row in ViewBag.SearchResult.TableData)
            {
                <tr>
                    @Html.Partial("SearchPage/_TableBodyColumnsNoLink", row)
                    @*<td align="left"><button type="button" id="BtnDetailBatch" class="btn btn-default btn-xs BtnDetailBatch">Details</button></td>*@
                    <td><button type="button" class="row-modal-submit-Posted-detail btn btn-default btn-xs" data-action="@Url.Action("ReadyforBranchSubmission")">Details</button></td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <thead>


            <tr>
                @Html.Partial("SearchPage/_TableHeaderColumns")
                <th>Details</th>
            </tr>



        </thead>
        <tbody>
            @foreach (List<DataField> row in ViewBag.SearchResult.TableData)
            {
                <tr>
                    @Html.Partial("SearchPage/_TableBodyColumnsNoLink", row)
                    @*<td align="left"><button type="button" id="BtnSubmittedDetailBatch" class="btn btn-default btn-xs BtnSubmittedDetailBatch">Details</button></td>*@
                    <td><button type="button" class="row-modal-submit-Posted-detail btn btn-default btn-xs" data-action="@Url.Action("BranchSubmittedItems")">Details</button></td>
                </tr>
            }
        </tbody>
    }

    <tfoot>
        @Html.Partial("SearchPage/_TablePaginationFooter")
    </tfoot>
</table>
@*<button data-action="@Url.Action("/Generate")" Class="btn btn-default secure-nav normal-submit-without-search @(CurrentUser.HasTask(TaskIdsOCS.BranchClearing.GENERATE) ? "" : "hidden")">@Locale.SubmitBatch</button>*@
@if (ViewBag.Type == "Ready")
{

    <button data-action="@Url.Action("/Generate")" @*onclick="return Confirm()"*@ Class="btn btn-default normal-submit-confirm-action-button @(CurrentUser.HasTask(TaskIdsOCS.BranchClearing.GENERATE) ? "" : "hidden")">Submit Batch</button>
}
@if (ViewBag.Type == "Submitted")
{
    //<button data-action="@Url.Action("/Reject")" Class="btn btn-default secure-nav normal-submit-without-search @(CurrentUser.HasTask(TaskIdsOCS.BranchClearing.REJECT) ? "" : "hidden")">@Locale.CancelBatch</button>*@
}
<script type="text/javascript">
    function Confirm() {
        var input = $("<input />");
        input.attr("type", "hidden").attr("name", "confirm_value");
        if (confirm("Confirm Action?")) {
            input.val("Yes");
            return true;
        } else {
            input.val("No");
            return false;
        }
        $("form")[0].appendChild(input[0]);
    }
</script>


@Scripts.Render("~/bundles/SearchResultPage")
<script src="~/Scripts/App/common.js"></script>			
<script src="~/Scripts/OCS/BranchSubmission.js"></script>								   