@using INCHEQS.Resources
@if (ViewHelper.HasUrlAccess(CurrentUser.Account, ViewBag.AllowedAction, "ChequeBalancingConfirm"))
{

    if (ViewBag.OutwardItemViewModel.lockedCheque == true)
    {
        <input disabled type="text" class="cheque-input new_fldcheckdigit number-only @(ViewBag.OutwardItemViewModel.getField("fldoricheckdigit") == ""  ? "" : "txtRed")" name="new_fldcheckdigit" value="@ViewBag.OutwardItemViewModel.getField("fldcheckdigit")" maxlength="2" style="width: 45px; margin-left:14px; margin-right:auto;" />
        <input disabled type="text" class="cheque-input new_fldtype number-only @(ViewBag.OutwardItemViewModel.getField("fldoritype") == ""  ? "" : "txtRed")" name="new_fldtype" value="@ViewBag.OutwardItemViewModel.getField("fldtype")" maxlength="1" style="width: 30px; margin:auto; text-align:center;" />
        <input disabled type="text" class="cheque-input new_fldstatecode number-only @(ViewBag.OutwardItemViewModel.getField("fldoristatecode") == ""  ? "" : "txtRed")" name="new_fldstatecode" value="@ViewBag.OutwardItemViewModel.getField("fldstatecode")" maxlength="1" style="width: 30px; margin:auto;" />
        <input hidden type="text" class="cheque-input new_fldtccode number-only @(ViewBag.OutwardItemViewModel.getField("fldoritccode") == ""  ? "" : "txtRed")" name="new_fldtccode" value="@ViewBag.OutwardItemViewModel.getField("fldtccode")" maxlength="2" style="width: 45px; margin-left:auto; margin-right:200px;" />
        <input hidden disabled type="text" class="cheque-input new_fldlocation number-only @(ViewBag.OutwardItemViewModel.getField("fldorilocation") == ""  ? "" : "txtRed")" name="new_fldlocation" value="@ViewBag.OutwardItemViewModel.getField("fldlocation")" maxlength="1" style="width: 30px; margin:auto; text-align:center;" />
        <input disabled type="text" class="cheque-input new_fldbankcode number-only @(ViewBag.OutwardItemViewModel.getField("fldoribankcode") == ""  ? "" : "txtRed")" name="new_fldbankcode" value="@ViewBag.OutwardItemViewModel.getField("fldbankcode")" maxlength="3" style="width: 40px; margin:auto; text-align:center;" />
        <input disabled type="text" class="cheque-input new_fldbranchcode number-only @(ViewBag.OutwardItemViewModel.getField("fldoribranchcode") == ""  ? "" : "txtRed")" name="new_fldbranchcode" value="@ViewBag.OutwardItemViewModel.getField("fldbranchcode")" maxlength="4" style="width: 50px; margin:auto; text-align:center;" />
        <input disabled type="text" class="cheque-input new_fldserial number-only @(ViewBag.OutwardItemViewModel.getField("fldoriserial") == "" ? "" : "txtRed")" name="new_fldserial" value="@ViewBag.OutwardItemViewModel.getField("fldserial")" maxlength="6" style="width: 70px; margin:auto; text-align:center;" />
        <input disabled type="text" class="cheque-input new_fldissueraccno number-only @(ViewBag.OutwardItemViewModel.getField("fldoriissueraccno") == ""  ? "" : "txtRed")" name="new_fldissueraccNo" value="@ViewBag.OutwardItemViewModel.getField("fldissueraccno")" maxlength="20" style="width: 200px; margin:auto; text-align:center;" />
        <input readonly disabled type="text" class="cheque-input new_fldamount number-only @(ViewBag.OutwardItemViewModel.getField("fldamount") == ""  ? "" : "txtRed")" name="new_fldamount" value=@Html.Raw(String.Format("{0:N}",Convert.ToDecimal(@ViewBag.OutwardItemViewModel.getField("fldamount")))) maxlength="20" style="width: 150px; margin:auto; text-align:center;" />


        <td><button id="Confirmbtn" data-action="@Url.Action("ChequeBalancingConfirm")" class="normal-submit btn btn-default btn-xs" style="margin-bottom:4px;" disabled>Confirm</button></td>
        if (ViewBag.TaskRole == "TransactionBalancing")
        {

            <div class="form-group">
                <button style="color:red;margin-bottom:4px;" type="button" id="rejectBtn" class="btn btn-default normal-submit-confirm-action btn-xs" disabled data-action="@Url.Action("ChequeBalancingReject")">@Locale.RejectBtn</button>
            </div>
        }
    }
    else
    {
        if (ViewBag.OutwardItemViewModel.getField("fldreasoncode") == "430" || ViewBag.OutwardItemViewModel.getField("fldclreasoncode") == "420" || ViewBag.OutwardItemViewModel.getField("fldclearingstatus") != "0")
        {
            <input disabled type="text" class="cheque-input new_fldcheckdigit number-only @(ViewBag.OutwardItemViewModel.getField("fldoricheckdigit") == ""  ? "" : "txtRed")" name="new_fldcheckdigit" value="@ViewBag.OutwardItemViewModel.getField("fldcheckdigit")" maxlength="2" style="width: 45px; margin-left:14px; margin-right:auto;" />
            <input disabled type="text" class="cheque-input new_fldtype number-only @(ViewBag.OutwardItemViewModel.getField("fldoritype") == ""  ? "" : "txtRed")" name="new_fldtype" value="@ViewBag.OutwardItemViewModel.getField("fldtype")" maxlength="1" style="width: 30px; margin:auto; text-align:center;" />
            <input disabled type="text" class="cheque-input new_fldstatecode number-only @(ViewBag.OutwardItemViewModel.getField("fldoristatecode") == ""  ? "" : "txtRed")" name="new_fldstatecode" value="@ViewBag.OutwardItemViewModel.getField("fldstatecode")" maxlength="1" style="width: 30px; margin:auto;" />
            <input hidden type="text" class="cheque-input new_fldtccode number-only @(ViewBag.OutwardItemViewModel.getField("fldoritccode") == ""  ? "" : "txtRed")" name="new_fldtccode" value="@ViewBag.OutwardItemViewModel.getField("fldtccode")" maxlength="2" style="width: 45px; margin-left:auto; margin-right:200px;" />
            <input hidden disabled type="text" class="cheque-input new_fldlocation number-only @(ViewBag.OutwardItemViewModel.getField("fldorilocation") == ""  ? "" : "txtRed")" name="new_fldlocation" value="@ViewBag.OutwardItemViewModel.getField("fldlocation")" maxlength="1" style="width: 30px; margin:auto; text-align:center;" />
            <input disabled type="text" class="cheque-input new_fldbankcode number-only @(ViewBag.OutwardItemViewModel.getField("fldoribankcode") == ""  ? "" : "txtRed")" name="new_fldbankcode" value="@ViewBag.OutwardItemViewModel.getField("fldbankcode")" maxlength="3" style="width: 40px; margin:auto; text-align:center;" />
            <input disabled type="text" class="cheque-input new_fldbranchcode number-only @(ViewBag.OutwardItemViewModel.getField("fldoribranchcode") == ""  ? "" : "txtRed")" name="new_fldbranchcode" value="@ViewBag.OutwardItemViewModel.getField("fldbranchcode")" maxlength="4" style="width: 50px; margin:auto; text-align:center;" />
            <input disabled type="text" class="cheque-input new_fldserial number-only @(ViewBag.OutwardItemViewModel.getField("fldoriserial") == "" ? "" : "txtRed")" name="new_fldserial" value="@ViewBag.OutwardItemViewModel.getField("fldserial")" maxlength="6" style="width: 70px; margin:auto; text-align:center;" />
            <input disabled type="text" class="cheque-input new_fldissueraccno number-only @(ViewBag.OutwardItemViewModel.getField("fldoriissueraccno") == ""  ? "" : "txtRed")" name="new_fldissueraccNo" value="@ViewBag.OutwardItemViewModel.getField("fldissueraccno")" maxlength="20" style="width: 200px; margin:auto; text-align:center;" />
            <input readonly disabled type="text" id="txtTotalamount" class="cheque-input new_fldamount number-only @(ViewBag.OutwardItemViewModel.getField("fldamount") == ""  ? "" : "txtRed")" name="new_fldamount" value=@Html.Raw(String.Format("{0:N}",Convert.ToDecimal(@ViewBag.OutwardItemViewModel.getField("fldamount")))) maxlength="20" style="width: 150px; margin:auto; text-align:center; display:none;" />
            <td>
                <button id="Confirmbtn" style="margin-bottom:4px;" data-action="@Url.Action("ChequeBalancingConfirm")" class="normal-submit btn btn-default btn-xs" disabled>Confirm</button>
                <button style="color:red;margin-bottom:4px;" data-action="@Url.Action("ChequeBalancingReject")" class="normal-submit btn btn-default" disabled>Reject</button>
            </td>

        }
        else
        {
            <input disabled type="text" class="cheque-input new_fldcheckdigit number-only @(ViewBag.OutwardItemViewModel.getField("fldoricheckdigit") == ""  ? "" : "txtRed")" name="new_fldcheckdigit" value="@ViewBag.OutwardItemViewModel.getField("fldcheckdigit")" maxlength="2" style="width: 45px; margin-left:14px; margin-right:auto;" />
            <input disabled type="text" class="cheque-input new_fldtype number-only @(ViewBag.OutwardItemViewModel.getField("fldoritype") == ""  ? "" : "txtRed")" name="new_fldtype" value="@ViewBag.OutwardItemViewModel.getField("fldtype")" maxlength="1" style="width: 30px; margin:auto; text-align:center;" />
            <input disabled type="text" class="cheque-input new_fldstatecode number-only @(ViewBag.OutwardItemViewModel.getField("fldoristatecode") == ""  ? "" : "txtRed")" name="new_fldstatecode" value="@ViewBag.OutwardItemViewModel.getField("fldstatecode")" maxlength="1" style="width: 30px; margin:auto;" />
            <input disabled hidden type="text" class="cheque-input new_fldtccode number-only @(ViewBag.OutwardItemViewModel.getField("fldoritccode") == ""  ? "" : "txtRed")" name="new_fldtccode" value="@ViewBag.OutwardItemViewModel.getField("fldtccode")" maxlength="2" style="width: 45px; margin-left:auto; margin-right:200px;" />
            <input disabled hidden type="text" class="cheque-input new_fldlocation number-only @(ViewBag.OutwardItemViewModel.getField("fldorilocation") == ""  ? "" : "txtRed")" name="new_fldlocation" value="@ViewBag.OutwardItemViewModel.getField("fldlocation")" maxlength="1" style="width: 30px; margin:auto; text-align:center;" />
            <input disabled type="text" class="cheque-input new_fldbankcode number-only @(ViewBag.OutwardItemViewModel.getField("fldoribankcode") == ""  ? "" : "txtRed")" name="new_fldbankcode" value="@ViewBag.OutwardItemViewModel.getField("fldbankcode")" maxlength="3" style="width: 40px; margin:auto; text-align:center;" />
            <input disabled type="text" class="cheque-input new_fldbranchcode number-only @(ViewBag.OutwardItemViewModel.getField("fldoribranchcode") == ""  ? "" : "txtRed")" name="new_fldbranchcode" value="@ViewBag.OutwardItemViewModel.getField("fldbranchcode")" maxlength="4" style="width: 50px; margin:auto; text-align:center;" />
            <input disabled type="text" class="cheque-input new_fldserial number-only @(ViewBag.OutwardItemViewModel.getField("fldoriserial") == "" ? "" : "txtRed")" name="new_fldserial" value="@ViewBag.OutwardItemViewModel.getField("fldserial")" maxlength="6" style="width: 70px; margin:auto; text-align:center;" />
            <input disabled type="text" class="cheque-input new_fldissueraccno number-only @(ViewBag.OutwardItemViewModel.getField("fldoriissueraccno") == ""  ? "" : "txtRed")" name="new_fldissueraccNo" value="@ViewBag.OutwardItemViewModel.getField("fldissueraccno")" maxlength="20" style="width: 200px; margin:auto; text-align:center;" />
            <input readonly disabled type="text" id="txtTotalamount" class="cheque-input new_fldamount @(ViewBag.OutwardItemViewModel.getField("fldamount") == ""  ? "" : "txtRed")" name="new_fldamount" value=@Html.Raw(String.Format("{0:N}",Convert.ToDecimal(@ViewBag.OutwardItemViewModel.getField("fldamount")))) maxlength="20" style="width: 150px; margin:auto; text-align:center; display:none;" />

            <div class="form-group">
                <td><button id="Confirmbtn" style="margin-bottom:4px;" class="btn btn-default normal-submit-confirm-action-Balancing btn-xs" data-action="@Url.Action("ChequeBalancingConfirm")">Confirm</button></td>
            </div>

            if (ViewBag.TaskRole == "TransactionBalancing")
            {
                <div class="form-group">
                    <button type="button" id="rejectBtn" style="margin-bottom:4px;" class="btn btn-default normal-submit-confirm-action btn-xs" data-action="@Url.Action("ChequeBalancingReject")">@Locale.RejectBtn</button>
                </div>
            }
        }
    }
}

<div class="row">
    <input type="hidden" value="@ViewBag.OutwardItemViewModel.getField("flditemtype")" id="hitemtype" />
    <div class="col-sm-8" style="position: relative; left: 12px;">
        <span class="bold">@Locale.Remarks</span><br />
        @if (ViewBag.OutwardItemViewModel.getField("fldremark") == "")
        {
            <textarea class="remarks" name="textAreaRemarks" maxlength="100" disabled></textarea>
        }
        else
        {
            <textarea class="remarks" name="textAreaRemarks" maxlength="100" disabled>@ViewBag.OutwardItemViewModel.getField("fldremark")</textarea>
        }
    </div>
</div>
