@using INCHEQS.Resources
@using INCHEQS.Common
@{

}

<table class="table form-table table-no-border">
    @*<tr>
        <td class="h5 bold">Reject Reason Description</td>
        <td class="h5 bold">:</td>
        <td class="h5 bold">@ViewBag.OutwardItemViewModel.getField("fldremark")</td>

    </tr>*@

    @*<tr>
        <td class="h5 bold">Type</td>
        <td class="h5 bold">:</td>
        <td class="h5 bold">@ViewBag.OutwardItemViewModel.getField("fldtype")</td>

    </tr>*@

    <tr>
        <td class="h5 bold">Location</td>
        <td class="h5 bold">:</td>
        <td class="h5 bold">@ViewBag.OutwardItemViewModel.getField("fldlocation")</td>

    </tr>

    <tr>
        <td class="h5 bold">Issuing Bank</td>
        <td class="h5 bold">:</td>
        <td class="h5 bold">@ViewBag.OutwardItemViewModel.getField("fldbankcode")</td>

    </tr>

    <tr>
        <td class="h5 bold">Issuing Bank Name</td>
        <td class="h5 bold">:</td>
        <td class="h5 bold">@ViewBag.OutwardItemViewModel.getField("fldbankdesc")</td>

    </tr>

    <tr>
        <td class="h5 bold">Issuing Branch</td>
        <td class="h5 bold">:</td>
        <td class="h5 bold">@ViewBag.OutwardItemViewModel.getField("fldbranchcode")</td>

    </tr>

    <tr>
        <td class="h5 bold">Cheque Number</td>
        <td class="h5 bold">:</td>
        <td class="h5 bold">@ViewBag.OutwardItemViewModel.getField("fldserial")</td>

    </tr>

    <tr>
        <td class="h5 bold">Issuer Account Number</td>
        <td class="h5 bold">:</td>
        <td class="h5 bold">@ViewBag.OutwardItemViewModel.getField("fldissueraccno")</td>

    </tr>

    <tr>
        <td class="h5 bold">Amount</td>
        <td class="h5 bold">:</td>
        <td class="h5 bold">@ViewBag.OutwardItemViewModel.getField("fldamount")</td>

    </tr>

    <tr>
        <td class="h5 bold">Creditor Account Number</td>
        <td class="h5 bold">:</td>
        <td class="h5 bold">@ViewBag.OutwardItemViewModel.getField("fldpvaccno")</td>

    </tr>


</table>