@using INCHEQS.Resources
@using INCHEQS.Common
@{

}
<span class=" h5 bold">Reception ID : </span>
<div class="" style="word-wrap: break-word;">@ViewBag.OutwardItemViewModel.getField("flduic")</div>

<span class=" h5 bold">Payee Account Number : </span>
<div class="" style="word-wrap: break-word;">@ViewBag.OutwardItemViewModel.getField("fldpvaccno")</div>

<span class=" h5 bold">Amount : </span>
<div class="" style="word-wrap: break-word;">@ViewBag.OutwardItemViewModel.getField("fldamount")</div>

<span class="h5 bold">TC Code : </span>
<div class="" style="word-wrap: break-word;">@ViewBag.OutwardItemViewModel.getField("fldtccode")</div>
<span class="h5 bold">Paying Bank : </span>
<div class="" style="word-wrap: break-word;">@ViewBag.OutwardItemViewModel.getField("fldbankdesc")</div>

<span class="h5 bold">Paying Branch : </span>
<div class="" style="word-wrap: break-word;">@ViewBag.OutwardItemViewModel.getField("fldpayingbranch")</div>
<span class="h5 bold">Capturing Branch : </span>
<div class="" style="word-wrap: break-word;">@ViewBag.OutwardItemViewModel.getField("fldcapturingbranch")</div>
<span class="h5 bold">Clearing Branch : </span>
<div class="" style="word-wrap: break-word;">@ViewBag.OutwardItemViewModel.getField("fldclearingbranch")</div>
<span class="h5 bold">Issuing Bank : </span>
<div class="" style="word-wrap: break-word;">@ViewBag.OutwardItemViewModel.getField("fldbankcode")</div>

<span class="h5 bold">Issuing Branch : </span>
<div class="" style="word-wrap: break-word;">@ViewBag.OutwardItemViewModel.getField("fldbranchcode")</div>

<span class="h5 bold">Issuer Account Number : </span>
<div class="" style="word-wrap: break-word;">@ViewBag.OutwardItemViewModel.getField("fldissueraccno")</div>