@using INCHEQS.Resources
<div id="chequeImageContainerBack">
    <button type="button" data-btnfor="reset" class="modify-cheque-btn-back btn btn-default btn-xs">@Locale.Reset</button>
        <button type="button" id="frontBtn2" data-btnfor="front" class="modify-cheque-btn-back btn btn-default btn-xs">@Locale.Front</button>
        <button type="button" id="backBtn2" data-btnfor="back"  class="modify-cheque-btn-back btn btn-default btn-xs">@Locale.Back</button> &nbsp; &nbsp; &nbsp;
        <button type="button" data-btnfor="bw" id="btnbw" class="modify-cheque-btn-back btn btn-default btn-xs">Black White</button>
        <button type="button" data-btnfor="greyscale" class="modify-cheque-btn-back btn btn-default btn-xs">Greyscale</button>
        <button type="button" data-btnfor="rotate" class="modify-cheque-btn-back btn btn-default btn-xs">@Locale.Rotate</button>
        <button type="button" data-btnfor="invert" class="modify-cheque-btn-back btn btn-default btn-xs">@Locale.Invert</button>
        <button type="button" data-btnfor="large" class="modify-cheque-btn-back btn btn-default btn-xs">@Locale.BigImage</button>
</div>