@using INCHEQS.Resources
<div id="chequeImageContainer">
    <button type="button" data-btnfor="reset" class="modify-cheque-btn btn btn-default btn-medium">@Locale.Reset</button>
        <button type="button" id="frontBtn" data-btnfor="front" class="modify-cheque-btn btn btn-default btn-medium">@Locale.Front</button>
        <button type="button" data-btnfor="back" class="modify-cheque-btn btn btn-default btn-medium">@Locale.Back</button> &nbsp; &nbsp; &nbsp;
        <button type="button" data-btnfor="bw" id="btnbw" class="modify-cheque-btn btn btn-default btn-medium">Black White</button>
        <button type="button" data-btnfor="greyscale" class="modify-cheque-btn btn btn-default btn-medium">Greyscale</button>
        <button type="button" data-btnfor="rotate" class="modify-cheque-btn btn btn-default btn-medium">@Locale.Rotate</button>
        <button type="button" data-btnfor="invert" class="modify-cheque-btn btn btn-default btn-medium">@Locale.Invert</button>
        <button type="button" data-btnfor="large" class="modify-cheque-btn btn btn-default btn-medium">@Locale.BigImage</button>
</div>