@using INCHEQS.Resources
@using System.Data;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/ChequeICS")
</head>
<body>
    <div class="row">
        <div class="col-sm-12 text-right">
            @if (ViewBag.InwardItemViewModel != null)
            {
                if (ViewBag.InwardItemViewModel.getField("fldInwardItemId") != "" && ViewBag.InwardItemViewModel.getField("fldInwardItemId") != "0")
                {
                    <input type="hidden" name="PreviousValue" value="@ViewBag.InwardItemViewModel.getField("fldInwardItemId")">
                    <input type="hidden" name="DataAction" value="@ViewBag.DataAction">
                    @*<button type="button" id="previousBtn" class="normal-submit btn btn-default btn-xs" data-action="@Url.Action("PrevCheque")">@Locale.Previous</button>*@
                }
            }

            <a id="closeBtn" type="button" class="btn btn-default btn-xs" @*data-action="@Url.Action("Index")"*@ href="@Url.Action("Index")">@Locale.btnClose</a>
        </div>
        <h2 class="text-center">@Locale.Nochequeavailable</h2>
    </div>
</body>
</html>
