@using INCHEQS.Resources
@using INCHEQS.Common

<table class="table form-table table-no-border th-silvered" style="margin-top: 20px" id="tblFindPayee">
    <thead>
        <tr>
            <th>Account No</th>
            <th>Cheque No</th>
            <th>Payee Name</th>
            <th>Amount (RM)</th>
            <th>Issue Date</th>
            <th>Trans Code</th> 
            <th>Status</th>
            <th>Host Status</th>
            <th>Validity</th>
        </tr>
    </thead>
    <tbody>
        @*@if (ViewBag.Payee != null)
        {
            foreach (var item in @ViewBag.Payee)
            {
        <tr>
            <td>@item.fldAccountNo</td>
            <td>@item.fldChequeNo</td>
            <td>@item.fldPayeeName</td>
            <td>@item.fldAmount</td>
            <td>@item.fldIssueDate</td>
            <td>@item.fldTransCode</td>
            <td>@item.fldStatus</td>
            <td>@item.fldHostStatus</td>
            <td>@item.fldValid</td>
        </tr>
            }
        }*@
    </tbody>
</table>
