@using INCHEQS.Resources
<span class="micr-info fldCheckDigit">@ViewBag.InwardItemViewModel.getField("fldCheckDigit")</span>
 <span class="micr-info fldChequeSerialNo">@ViewBag.InwardItemViewModel.getField("fldChequeSerialNo")</span>
<span class="micr-info fldIssueStateCode">@ViewBag.InwardItemViewModel.getField("fldIssueBankCode")</span>
<span class="micr-info fldIssueBranchCode">@ViewBag.InwardItemViewModel.getField("fldIssueStateCode")@ViewBag.InwardItemViewModel.getField("fldIssueBranchCode")</span>
<span class="micr-info fldAccountNumber">@ViewBag.InwardItemViewModel.getField("fldAccountNumber")</span>
<span class="micr-info fldTransCode">@ViewBag.InwardItemViewModel.getField("fldTransCode")</span>
