@using System.Data;
@{
    ViewBag.Title = "ChequeVerificationPage";
    Layout = "~/Views/Shared/_LayoutChequeVerification.cshtml";
}
@{
    int MinusTotalRecord;
    string OriTotalRecord = "";
    if (ViewBag.MinusRecordIndicator != null) {
        MinusTotalRecord = Convert.ToInt32(ViewBag.InwardItemViewModel.getField("TotalRecord")) - 1;
        if (ViewBag.StoreProc != null)
        {
            MinusTotalRecord = Convert.ToInt32(ViewBag.InwardItemViewModel.getField("TotalUnverified"));
        }
        if (ViewBag.DatabaseViewName == "View_Verification") {
            MinusTotalRecord = Convert.ToInt32(ViewBag.InwardItemViewModel.getField("TotalUnverified")) - 1;
        }
    } else {
        MinusTotalRecord = Convert.ToInt32(ViewBag.InwardItemViewModel.getField("TotalRecord"));
        if (ViewBag.DatabaseViewName == "View_Verification") {
            MinusTotalRecord = Convert.ToInt32(ViewBag.InwardItemViewModel.getField("TotalUnverified"));
        }
    }

    if (ViewBag.LockIndicator != null) {
        OriTotalRecord = ViewBag.InwardItemViewModel.getField("TotalRecord");
        <input type="hidden" id="OriTotalRecordHolder" value="@OriTotalRecord">
    }
}
<div>
    <div class="row mTop10">
        <div class="col-sm-6">
            <span class="h4">@ViewBag.PageTitle</span>
            <span Class="red">@ViewBag.InwardItemViewModel.getField("fldTransDesc")</span>
            <span class="h5"> @ViewBag.InwardItemViewModel.getField("fldItemStatus")</span>
            <!--input type="hidden" name="fldAccountNumber" value="@ViewBag.InwardItemViewModel.getField("fldAccountNumber")"-->
            <input type="hidden" name="NextValue" value="@ViewBag.InwardItemViewModel.getField("NextValue")">
            <input type="hidden" name="PreviousValue" value="@ViewBag.InwardItemViewModel.getField("PreviousValue")">
            
            <span class="red bold">[@MinusTotalRecord / </span>
            <span class="red bold" id="OriTotalRecord">1</span>
            <span class="red bold">]</span>
            <span>@ViewBag.InwardItemViewModel.getField("fldAccountDesc")</span>
            <div class="row">
                <div class="col-sm-6">
                    <span class="h5 bold">UIC :</span>
                    <span>@ViewBag.InwardItemViewModel.getField("fldUIC")</span>
                </div>

                <div class="col-sm-6">
                    <span class="h5 bold">HOST STATUS :</span>
                    <span>@ViewBag.InwardItemViewModel.getField("fldRejectStatus1")</span>
                </div>
                <div class="col-sm-7">
                    <span class="h5 bold">IQA STATUS :</span>
                    <span class="red">@ViewBag.IQADesc</span>
                </div>
                <div class="col-sm-11">
                    <span class="h5 bold">MICR CORRECTION STATUS :</span>
                    <span class="red">@ViewBag.MICRCorrectionDesc</span>
                </div>
                @*<div class="col-sm-11">
                    <span class="h5 bold">DLL VALIDATION STATUS :</span>
                    <span class="red">@ViewBag.DLLStatus</span>
                </div>*@
                <div class="col-sm-11">
                    <span class="h5 bold">NCF Flag :</span>
                    <span class="red">@ViewBag.NCFFlag</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            @Html.Partial("InwardClearing/Base/_ChequeControlAction")
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            @Html.Partial("InwardClearing/Base/_ChequeImage")
        </div>
        <div class="col-sm-4">
            @Html.Partial("InwardClearing/Base/_ChequeInfo")
            <div id="signatureInfo">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            @Html.Partial("InwardClearing/Base/_ShowMICR")
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("InwardClearing/Base/_SignatureList")
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @if (ViewHelper.HasUrlAccess(CurrentUser.Account, ViewBag.AllowedAction, "VerificationAction")) {
                if (CurrentUser.Account.isBranchUser()) {
                    @Html.Partial("InwardClearing/ICCSDefault/Partial/_BranchAction")
                } else {
                    @Html.Partial("InwardClearing/ICCSDefault/Partial/_Action")
                }
            }
        </div>
    </div>
</div>

@if (ViewBag.IQA == "2")
{
<script>
$(document).ready(function(){
    alert("@ViewBag.IQADesc");
    
});
</script>
}
@if (ViewBag.LockCheck == "False")
{
    <script>
    $(document).ready(function(){
        alert(" Warning !" + "\n" + " This check is locked by other Clearing user");

    });
    </script>
}
@if (ViewBag.LockCheckBranch == "False")
{
    <script>
    $(document).ready(function(){
        alert(" Warning !" + "\n" + " This check is locked by branch user");

    });
    </script>
}