@using INCHEQS.Security;
@using INCHEQS.Resources;
@using INCHEQS.TaskAssignment;
@using (Html.BeginForm("SaveCreate", "StateCode", FormMethod.Post, new { @Class = "secure-form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>@Locale.StateCodeAdd</h4>
        
        <hr />
        <span class="red"><i>*@Locale.RequiredField</i></span>
        <table class="table form-table table-no-border">
            <tbody>
                <tr>
                    <th>@Locale.StateCodeColumn</th>

                    <td>
                        <input type="text" name="fldStateCode" autocomplete="off" maxlength="2" />
                        <span class="red-star">*</span>
                    </td>
                </tr>
                <tr>
                    <th>@Locale.StateDescColumn</th>

                    <td>
                        <input style="width:500px" type="text" name="fldStateDesc" autocomplete="off" maxlength="100" />
                        <span class="red-star">*</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" data-action="@Url.Action("/SAVECREATE")" Class="btn btn-default normal-submit-save-action-button @(CurrentUser.HasTask(TaskIdsOCS.Message.SAVECREATE) ? "" : "hidden")">@Locale.SaveBtn</button>
        <button data-action="@Url.Action("/Create")" Class="btn btn-default secure-nav normal-submit-without-search @(CurrentUser.HasTask(TaskIdsOCS.Message.CREATE) ? "" : "hidden")">@Locale.Reset</button>
        <a href="@Url.Action("/Index")" class="btn btn-default secure-nav  @(CurrentUser.HasTask(TaskIdsOCS.Message.INDEX) ? "" : "hidden")">@Locale.btnClose</a>
    </div>
}
<script src="~/Scripts/App/app.js"></script>