@using INCHEQS.Resources
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ChequeHistory</title>
</head>
<body>
    @using (Html.BeginForm("", "", FormMethod.Post, new { @Class = "form-inline secure-form", id = "proceedPasswordForm" })) {
        @Html.AntiForgeryToken()
        <div class="text-center">
            <p>
                <h3>Please Enter Your Password To Proceed</h3>
            </p>
            <p>
                <br />
                Password : <input type="text" name="proceedPassword" id="UserPassword" value=" "/>
            </p>
            @if (ViewBag.TaskRole == "ReturnAll") {
                <p>
                    Reject Code : <input type="text" style="width:30px;min-width:30px;text-transform:uppercase" id="rejectCodeText" name="textRejectCode" value="0" />
                    <select class="textbox" id="rejectCodeSelectList" name="rejectCode" style="width:240px;min-width:240px">
                        <option value="">--- @Locale.SelectReturnRouteReason ---</option>
                    </select>
                </p>
            }
            <p>
                <button type="submit" class="btn btn-default ajax-proceed-password-submit" data-action="@Url.Action("ProceedApproveOrReturnAll")">Proceed</button>
            </p>
        </div>
    }
</body>
@Scripts.Render("~/bundles/app")
@Scripts.Render("~/bundles/RejectCodeApi")
</html>