@using INCHEQS.Security
@using INCHEQS.Resources
@using INCHEQS.TaskAssignment
@using (Html.BeginForm("SaveCreate", "TransactionType", FormMethod.Post, new { @Class = "secure-form" })) {
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <h4>@Locale.TransactionTypeMaintenance</h4>
        <hr />
        <table class="table form-table table-no-border">
            <TBODY>
                <TR>
                    <Th>@Locale.TransactionType</Th>

                    <TD>
                        <input type="text" name="transType" >
                        <span class="red-star">*</span>
                    </TD>
                </TR>
                <TR>
                    <Th>@Locale.TransactionTypeDescription</Th>

                    <TD>
                        <input type="text" name="transDesc">
                        <span class="red-star">*</span>
                    </TD>
                </TR>
            </TBODY>
        </table>
        <button type="submit" Class="btn btn-default @(CurrentUser.HasTask(TaskIds.TransactionType.SAVECREATE) ? "" : "hidden")">@Locale.SaveBtn</button>
        <a href="@Url.Action("Index")" class="btn btn-default secure-nav @(CurrentUser.HasTask(TaskIds.TransactionType.INDEX) ? "" : "disabled")">@Locale.btnClose</a>
    </div>

}